<!doctype html>
{% load url from future %}
{% load pipeline %}
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta charset="utf-8">
    <title>
    {% block title %}{% block siteSection %}{% endblock siteSection%} {% block siteTitle %}$$$$LEGIBLE_NAME$$$${% endblock siteTitle%}{% endblock title%}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    {% block cssMain %}
    <link rel="stylesheet" type="text/css" href="{% static 'gumby/css/gumby.css' %}">
    {% endblock cssMain %}
    
 	{% block cssExtras %}
    {% endblock cssExtras %}
  	{% block headExtras %}
  	{% endblock headExtras%}
  </head>
  <body>
  
 {% load nav %}
 {% block nav %}
 <div class="row navbar-color" id="page-nav">
 <h1 class="two columns logo">
		<a href="/" title="xGDS $$$$LEGIBLE_NAME$$$$">
     		<img src="{{STATIC_URL}}$$$$APP_NAME$$$$/css/logo.png" class="logo" alt="$$$$LEGIBLE_NAME$$$$ logo" width="120" height="65" gumby-retina>
     	</a>
     	</h1>
 <div class="row navbar ten columns" id="nav1">
    <!-- Toggle for mobile navigation, targeting the <ul> -->
    <a class="toggle" gumby-trigger="#nav1 > ul" href="#"><i class="icon-menu"></i></a>
		{% if navigation_tab %}
        	{% nav navigation_tab %}
        {% endif %}
		{% block sitemenu-content %}
		<ul >
			<!-- TOP LEVEL NAVIGATION LINKS GO HERE --> 
			<li {% currentnav map* xgds_map_server* %}>
				<a href="{% url 'map' %}" title="Map">Map</a>
			</li>
			<!-- uncomment to include; replace # with % in the url sections -->
			<!--
			<li {% currentnav planner2* %}>
				<a href="{# url 'planner2_index' #}" title="plan">Plan</a>
			</li>
			<li {% currentnav *xgds_image* %} >
				<a href="{# url 'xgds_image_search' #}" title="image">Image</a>
			</li>
 			<li {% currentnav *note* %}>
				<a href="{# url 'xgds_notes_review' #}" title="{{ settings.XGDS_NOTES_MONIKER }}">{{ settings.XGDS_NOTES_MONIKER }}</a>
			</li>
			-->
			<li {% currentnav xgds_data_import %}>
				<a href="{% url 'xgds_data_import' %}" title="Import">Import</a>
			</li>
			<li {% currentnav email_feedback %}>
            	<a href="{% url 'email_feedback' %}">Feedback</a>
            </li>
			
            <li>
            {% if user.is_authenticated %}
                 <a href="{{ logout_url }}" title="Logout">Logout&nbsp;&nbsp;{{ user.first_name }}</a>
            {% else %} <!-- user.is_authenticated -->
                <a href="{{ login_url_with_next }}"title="Login">Login</a>
            {% endif %} 
            </li>
         </ul>	
          {% block sitemenu-content-secondary %}
  		  {% endblock sitemenu-content-secondary %}
  		  <a class="toggle" gumby-trigger=".sitemenu-nav-secondary ul" href="#"><i class="icon-menu subnav" ></i></a>
   </div>
  
   </div>

  {% endblock sitemenu-content %}

{% endblock nav %}

{% block subnav %}
{% endblock subnav %}

	
{% if errorstring %}
    <div class="row errors"  id="errors">
    <ul>
	    <li class="danger alert">
	 	{{errorstring}}
	 	</li>
 	</ul>
   </div>
{% endif %}

	<div class="row twelve columns" id="page-content">			
      {% block contents %}
      	{% block content %}
      	{% endblock %}
      {% endblock %}
    </div>
    
   	{% block footer %}
	{% endblock footer %}
	
    
    {% block scripts %}
    <script src="{{ EXTERNAL_URL }}modernizr/modernizr.js"></script>
	<script src="{{ EXTERNAL_URL }}jquery/dist/jquery.min.js"></script>
    {% endblock %}

    <script type="text/javascript">
      {% block jsSetVars %}
      {% endblock jsSetVars %}

      {% block jsInit %}
      {% endblock jsInit %}
    </script>
    

  </body>
</html>
